.maindiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.mode{
    position: absolute;
    right : 10px;
    top : 10px;
}
.fields{
    width: 50%;
    margin: auto;
}
.backbtn{
    width: 50%;
    padding-left: 20%;
}
.icon{
    position: relative;
    bottom: 40px;
    left : 40%;
}
.terms{
    /* width : 30%; */
    font-size: 0.9rem;
}
.bg-image{
    z-index: -1;
    position: absolute;
    height: 100vh;
    opacity: 0.3;
    filter:blur(3px);
    display: flex;
    justify-content: center;
}
.mainpic{
    width : 33%;
}
.pbtn{
    border: 1px solid rgb(194, 203, 255);
    background-color: rgba(170, 178, 207, 0.281);
    text-transform: none;
}
.ffbtn{
    border: 1px solid rgb(177, 236, 245);
    background-color: rgba(167, 216, 235, 0.418);
    text-transform: none;
}
.cbtn{
    border: 2px solid rgb(222, 250, 199);
    background-color: rgba(164, 204, 163, 0.507);
    text-transform: none;
}
.bbtn{
    border: 2px solid rgb(234, 210, 240);
    background-color: rgba(208, 191, 214, 0.363);
    text-transform: none;
}
.link a{
    width : 250px;
    height : 50px;
    padding: 10px;
}
.backbutton{
    position: absolute;
    right: 7%;
    top: 10%;
}
.temp{
    color: rgb(175, 23, 150);
}
.p_r{
    position: absolute;
    top : 13%;
    right : 6%;
}
.pr_labels{
    left: 10%;
}
.pr_main{
    margin-top: 70px;
}
@media only screen and (max-width: 710px) {
.fields{
    width : 60%;
}
.mainpic{
    width : 35%;
}
.bg{
    width: 60%;
}
}
@media only screen and (max-width: 650px) {
.backbtn{
    padding-left: 10%;
}
.mainpic{
    width : 45%;
}
.terms{
    width: 40%;
}
}
@media only screen and (max-width: 390px) {
    .terms{
        width: 50%;
    }
}
@media only screen and (max-width: 370px) {
    .backbutton{
        right: 15%;
    }
}